/** carrossel **/
.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    /**object-position: 0 80%;**/
    height: 400px;
}

.card-tamanho{
    max-width: 18rem;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}

.botao-cor {
    background-color: darkred;
    color: white;
}

.border-color {
    border-color: darkred;
}

.tamanho-da-imagem {
    object-fit: cover;
    height: 200px;
}